
body{
    background-color: antiquewhite;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

h1, h2, h3{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#9e622a;
    text-align: center;
}

p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#9e622a;
    text-align: center;
}

img{
    margin: auto;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
    border-style:solid;border-color:#9e622a;
}

div{
    text-align: center;
    color:#9e622a
}

.list{
    display:inline-block;
    text-align: left;
}